.bg-info{
    width: 100%;
    .bg{
        width: 60%;
        height: 14.7vw;
        margin: 0 auto;
        position: relative;
        z-index: -1;
        img{
            width: 100%;
         height: 113.5%;                   
         }       
    }
    .bg-nav{
        height: 100%;
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        ul{
            display: flex;
            justify-content: space-between;
            width: 70%;
            
            li{
                background-color: rgba(0, 0, 0, 0.664);
                list-style: none;
                width: 40%;
                padding: 1% 0;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: white;
                    font-size: 1vw;
                    text-decoration: none;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                }
                &:first-child{
                    background-color: $gray;
                    a{
                        color: $blue;
                    }
                }
                &:hover{
                    background-color: $gray;
                    a{
                        color: $blue;
                    }
                }
            }
        }
    }

    // ============ info ==============
    .info{
       width: 100%;
       background-color: $gray;
       padding: 3% 0;
       form{
           width: 50%;
           margin: 0 auto;
           display: flex;
           flex-direction: column;
          
           .questions{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               .wohin{
                   width: 50%;
                   p{
                       font-size: 1vw;
                       color: $blue;
                   }
                   select{
                       width: 100%;
                      padding: 1% 0;
                      font-size: 1vw;
                      cursor: pointer;
                      &:focus{                     
                        box-shadow: 0px 0px 6px $blue;
                    }
                   }
               }
               .welche{
                   width: 40%;           
                   p{
                    font-size: 1vw;
                    color: $blue;
                   }
                   input{
                       width: 30%;
                       padding: 2%;
                       font-size: 1vw;
                       &:focus{                     
                           box-shadow: 0px 0px 6px $blue;
                       }
                       
                   }
               }
           }
           button{
               margin-top: 2%;
               margin-right: 0.8%;
               width: 20%;
               align-self: flex-end;
               font-size: 0.8vw;
               padding: 0.8% 0;
               background-color: #e9530e;
               border: none;
               outline: none;
               color: white;
               cursor: pointer;
               &:active{                     
                box-shadow: 0px 0px 6px #e9530e;
            }
            &:hover{
                background-color: #ca4d12;
            }
           }
       }
    }
}