// ====================FOOTER ==================
footer{
    .footer-top{
        background-color: $footer;
        .footer-top-container{
            width: 70%;
            margin: 0 auto;
            padding: 3% 0;
            display: flex;
            justify-content: space-between;
            div{
                display: flex;
                flex-direction: column;
                p{
                    font-size: 1.2vw;
                    color: $blue;
                    margin-bottom: 3%;
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1vw;
                    margin-bottom: 4%;
                    &:hover{
                        color: $blue;
                        text-decoration: underline;
                    }
                }

            }
            .checked-texts{
                span{
                    display: flex;
                    align-items: baseline;
                    i{
                        color: green;
                        font-size: 1vw;
                    }
                    p{
                        color: white;
                        font-size: 1vw;
                        margin-left: 3%;
                    }
                }
            }
        }
    }
    .footer-bottom{
        background-color: $last-footer;
        display: flex;
        padding: 3% 15%;
        .footer-left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30%;
            margin-right: 10%;
            p{
                font-size: 1vw;
                color: gray;
                margin-bottom: 3%;
            }
            .footer-links{
                display: flex;
                justify-content: space-between;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 0.8vw;
                    &:hover{
                        color: $blue;
                        text-decoration: underline;
                    }
                }
            }
        }
        // right
        .footer-right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 15%;
            p{
                font-size: 1vw;
                color: gray;
                margin-bottom: 3%;
            }
            .footer-links{
                display: flex;
                justify-content: space-between;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 0.8vw;
                    &:hover{
                        color: $blue;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}