@media only screen and (max-width:700px) {
    header{
        .top-header{
            height: 5vw;
            div{
                width: 100%;
                margin: 0;
                justify-content: center;
                span{
                    a{
                        font-size: 1.7vw;
                    }
                }
            }
        }
        // ============= NAV =================
        .nav{
            nav{
                width: 100%;
                margin: 0;
                height: 8vw;
                .logo{
                    width: 15%;
                }
                ul{
                    width: 70%;
                    li{
                        a{
                            font-size: 1.7vw;
                        }
                        i{
                            font-size: 1.5vw;
                        }
                    }
                }
                button{
                    font-size: 1.4vw;
                    i{
                        font-size: 1.4vw;
                    }
                    span{
                        font-size: 1.6vw;
                    }
                }
            }
        }
    }
}